<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleIconFile</key>
	<string>app_icon.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
 	<key>CFBundleGetInfoString</key>
	<string>Very Serious Button configuration utility</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
	<string>VerySeriousSetup</string>
	<key>CFBundleIdentifier</key>
	<string>com.greglabs.VerySeriousSetup</string>
</dict>
</plist>
